<html>

  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title>{{book.book_name}}</title>

</head>

<body>

<div class="container">

    <br/><br/>

    <h2 class="text-center"> {{book.book_name}}</h2>

     <hr>

     <p class="lead">Author: {{book.author_name}} </p>

     <p class="lead">Type: {{type}} </p>

     <p class="lead">Publication: {{book.publication}} </p>

     <p class="lead">Price: ${{book.price}} </p>

     <form action="{% url 'book_list' %}" class="form-inline" method="get">

     <button type="submit" class="btn btn-primary btn-lg mb-2">Back</button>

     </form>

  </div>

  </body>

</html>
